<div class="panel panel-default" data-comment-id="<%= comment.id %>">
  <div class="panel-heading"><small>
    <%= comment.user.name %>
    <span class="pull-right text-muted"><%= comment.created_at %></span>
  </small></div>
  <div class="panel-body"><%= simple_format(comment.content) %></div>
</div>
