#incident-status-switcher {
   margin-top: 20px;
}

.incident-description {
  word-wrap: break-word;
}

.comment-content {
  word-wrap: break-word;
}

.new_incident, .edit_incident {
  max-width: 600px;
}
#comments-container {
  header{
    margin: 20px 0 10px 0;
    h2 {
      display: inline-block;
      margin: 0;
      vertical-align: top;
    }
  }
  .panel {
    margin-bottom: 4px;
    .panel-heading {
      padding: 0 7px;
    }
    .panel-body {
      padding: 7px;
    }
  }
}

.spinner-wave {
  opacity: 1.0;
  width: 40px;
  height: 40px;
  display: inline-block;
  transition: opacity 0.5s;
  transition-delay: 0.5s;
  &.ready {
    opacity: 0.0;
  }
}
.spinner-wave > div {
  background-color: #333;
  height: 100%;
  width: 4px;
  display: inline-block;
  -webkit-animation: wave 1.2s infinite ease-in-out;
  animation: wave 1.2s infinite ease-in-out;
}
.spinner-wave div:nth-child(2) {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.spinner-wave div:nth-child(3) {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
.spinner-wave div:nth-child(4) {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.spinner-wave div:nth-child(5) {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
@-webkit-keyframes wave {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}
@keyframes wave {
  0%, 40%, 100% { transform: scaleY(0.4); }
  20% { transform: scaleY(1.0); }
}

